@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

a
	color: #3A4047
	transition: all 0.2s ease
	&:hover
			color: $main

button	
	&:focus
		outline: none

ul
	list-style-type: none
	padding: 0
	margin: 0

html, body
	height: 100%

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.1
	font-family: $default-font
	overflow-x: hidden
	color: $accent
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold


.wrapper
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)

// Info section

.info
	display: flex
	justify-content: space-between

.information
	display: flex
	justify-content: space-between

.distance
	padding-top: 17px
	padding-bottom: 18px

.descr
	&__text	
		display: block	
		margin-bottom: 10px
	&__time
		font-weight: bold
		&.no-bold
			font-weight: normal

.cabinet
	display: flex	
	justify-content: flex-end
	&__ico
		width: 12px
		height: auto
		color: #1AB0CE
		margin-right: 7px
	&__link
		text-decoration: underline 
	
.contact
	display: flex
	flex-direction: column
	align-items: flex-end	
	&__link
		text-decoration: underline
	&__social
		position: relative
		padding-top: 20px
		display: flex
		justify-content: space-around
		&.no-pudding
			padding-top: 0
	.tooltip
		position: absolute
		top: 55px		
		right: -10px
		z-index: 99		
		&__kyivstar
			margin: 20px 0
		&__img
			margin-right: 10px
		&__content
			position: relative					
			padding: 30px
			font-size: 16px
			background-color: #ffffff
			box-shadow: -1px 1px 2px rgba(0,0,0,.05)
			&:before
				position: absolute
				content: ''
				top: -3px
				right: 6px
				width: 28px
				height: 28px
				z-index: -1
				background-color: #ffffff
				box-shadow: -1px 1px 2px rgba(0,0,0,.05)
				transform: rotate(45deg)		
	&__ico
		margin-right: 18px
		height: 20px
		width: auto
	&__number
		font-weight: bold
		font-size: 16px
	&__more
		color: #EDEDED
		border-radius: 50%
		width: 20px
		height: 20px
		border: none
		cursor: pointer
		&:hover
			color: rgba(#EDEDED, .1)
	&__arrow
		width: 4px
		height: 8px		
		transform: rotate(90deg)
	.tooltip-footer
		top: -195px
		
		

.shopping
	display: flex
	align-items: center
	
	&__cart
		background: transparent
		border: none
		cursor: pointer
		position: relative
	&__img
		height: 44px
		width: auto
	&__count
		position: absolute
		right: -10px
		top: -5px
		background-color: #1AB0CE
		border-radius: 50%
		border: none
		cursor: pointer
		width: 30px
		height: 30px
		line-height: 30px
		font-weight: bold
		color: #ffffff
		&:hover
			color: #ffffff
			text-decoration: none

// navbar styles
.nav
	width: 100%
.navbar
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
	&__link
		font-size: 16px
		font-weight: bold
		text-transform: uppercase
		position: relative
		padding: 16px 0	
		display: block
		white-space: nowrap		  
		&:hover
			color: $main
			text-decoration: none
			&:before
				content: ''
				display: block
				position: absolute
				top: -1px	
				left: -30%
				right: -30%			
				height: 1px				
				background-color: $main				
		&:first-child
			padding-left: 0
		&:last-child
			padding-right: 0

.navbar-toggle
	display: none
	&__btn		
		border-top: 1px solid $main
		border-bottom: none
		border-left: none
		border-right: none
		background-color: transparent
		padding: 12px		
		&:hover:active
			background-color: $main
	

.navbar-colapse
	text-align: center
	transition: all 0.3s ease-in-out
	&__link
		font-size: 14px
		font-weight: bold
		text-transform: uppercase
		position: relative
		padding: 16px 0	
		display: block
		&:hover
			color: $main
			text-decoration: none
			&:before
				content: ''
				display: block
				position: absolute
				top: -1px	
				left: -30%
				right: -30%			
				height: 1px				
				background-color: $main	
	
.title
	background-image: url('../img/print.jpg')
	background-position: top center 
	background-size: cover
	min-height: 500px
	color: #FFFFFF
	display: flex
	align-items: center
	text-align: center	
	&__main-text
		font-size: 56px    
		padding-bottom: 8px	
		line-height: 56px
	&__deliver
		font-size: 24px
		margin-bottom: 27px

.divider
	width: 120px
	height: 2px
	background-color: #fff
	margin: 20px auto 


// Buttons
.btn
	padding: 15px 45px
	font-size: 16px
	color: #ffffff
	background-color: $main
	border: none
	border-radius: 2px
	cursor: pointer
	&:hover
		font-weight: bold

.btn-transparent
	background-color: #fff
	border: 1px solid $main
	padding: 10px 22px
	color: $main
	cursor: pointer
	border-radius: 2px
	&:hover
		font-weight: bold

		


.section-title
	text-align: center
	margin-top: 30px
	font-size: 36px
	
// card style

.card
	display: flex
	padding: 0 10px
	margin-top: 45px
	height: 291px
	border: 1px solid #DCE1E6
	box-sizing: border-box
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05)
	&__img
		margin: 25px
		height: 62px
		width: auto 
	&__title
		font-size: 16px
		font-weight: bold
		margin-top: 30px
		margin-bottom: 25px
	&__list
		display: flex
		justify-content: space-between
	&__items
		margin-bottom: 20px

		
// about section

.about
	&__info
		text-align: center
		font-size: 24px
		margin-top: 13px
		margin-bottom: 35px

// news card

.news
	text-align: center
	padding: 30px 0
	margin-top: 20px
	position: relative
	transition: all 0.4s ease-in-out
	&:hover
		box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.05), 0px -1px 0px $main	
	&:hover &__text
		color: $main
		text-decoration: underline
	&__time
		display: block
		margin-bottom: 14px
		color: #BEC7D1
	&__link
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
	&__text
		font-size: 16px
		transition: all 0.4s ease-in-out

.btn-block	
	text-align: center
	margin: 50px auto
		

// Footer

.footer
	background:  #F7F7F7
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05)


.navbar-footer
	&__link
		display: inline-block
		margin-bottom: 15px
		white-space: nowrap
		text-decoration: underline

.logo
	&__right
		display: block

.footer-information
	display: flex
	flex-direction: column

.link
	display: inline-block
	display: flex
	flex-direction: column
	align-items: flex-end
	&__contact
		margin-top: 20px
		margin-bottom: 30px

.callback
	position: fixed
	bottom: 25px
	right: -100px
	height: 88px
	width: 88px
	font-size: 12px
	border-radius: 50%
	cursor: pointer
	background-color: $main
	color: #ffffff
	display: flex
	align-items: center
	flex-direction: column
	justify-content: center
	text-align: center
	transition: all 0.3s ease
	img
		width: 20px
		height: auto
.active
	right: 25px
@import "media" // Always at the end
